<!--- public/views/img_top_img_ans_5.html-->
<!doctype html> 

<html lang = "en">

	<HEAD>
		<META charset = "UTF-8" name="viewport" content="width=divice-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="template.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<TITLE> {{presTitle}} </TITLE>
	</HEAD>
	
	<BODY>
		<DIV class="fluid-container">
			<DIV class="row">
				<H1> {{slTitle}}</H1>
				
			</DIV>
			<DIV class="row">
				<DIV class = "col-xs-12 col-md-12 col-lg-12">
						<img src="img1.jpg" alt ="Please select an image" class="img-responsive"/> 
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class = "col-xs-12 col-md-12 col-lg-12">
					<p> {{question}}</P>
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV role= "group">		
					<DIV class="row">
						<DIV class= "col-sm-6 col-md-4 col-lg-2 col-lg-offset-1">
							<BUTTON type="button" class = "btn btn-primary btn-sm" id="ans1">
								<img src="img1.jpg" alt ="Please select an image" class="img-responsive small"/>
							</BUTTON>
						</DIV>
						<DIV class= "col-sm-6 col-md-4 col-lg-2">
							<BUTTON type="button" class = "btn btn-primary btn-sm" id="ans2"> 
								<img src="img1.jpg" alt ="Please select an image" class="img-responsive small"/>
							</BUTTON>
						</DIV>
						<DIV class= "col-sm-6 col-md-4 col-lg-2">
							<BUTTON type="button" class = "btn btn-primary btn-sm" id="ans3">
								<img src="img1.jpg" alt ="Please select an image" class="img-responsive small"/>
							</BUTTON>
						</DIV>
						<DIV class= "col-sm-6 col-md-6 col-lg-2" id="ans4">
							<BUTTON type="button" class = "btn btn-primary btn-sm">
								<img src="img1.jpg" alt ="Please select an image" class="img-responsive small"/>
							</BUTTON>
						</DIV>
						<DIV class= "col-sm-6 col-md-6 col-lg-2">
							<BUTTON type="button" class = "btn btn-primary btn-sm" id="ans5">
								<img src="img1.jpg" alt ="Please select an image" class="img-responsive small"/>
							</BUTTON>
						</DIV>
					</DIV>
				</DIV>
			</DIV>
		</DIV>
	</BODY>
</HTML>
